


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #ff6600;
    position: fixed;
    height: 100%;
    overflow: auto;

}

li a {
    display: block;
    color: #000;
    padding: 10px 0 10px 16px;
    text-decoration: none;
    font-size: 150%;
    font-weight: bold;
     border-style: solid;
    border-color: black;
    border-width: 2px 0 0 0;
}
body {
    margin: 0;
    background-color: #282828;
    color:white;
}

li a.active {
    background-color: #383838;
    color: white;
}

li a:hover:not(.active) {
    background-color: #383838 ;
    color: white;
}
img{
    height: 30%; 
    width: 100%; 
}

#body{
  float: left;
  color: white;
  max-width: 78%;
  padding-left: 25%;
}

textarea {
  max-width: 65%;
}

#post li{
font-size: 1000px;
color: white;
}

ol li img{
  list-style: none;
  padding: 5px;
  float: left;
  max-height: 45px;
  max-width:  45px;
}
ol li {
    width:78%;
     list-style: none;
    border-style: solid;
    border-color: black;
    border-width: 1px 1px 1px 1px;
    background-color: white;
    color:black;
}
#loginPage{
  padding-right: 5%;
  background: white;
  color: black;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

#profilePic {
  max-width: 20%;
  max-height: 20%;
  float:left;
  padding: 5px;
}
#userId{
  font-size: 24;
}
#review{
  color: #ffdf00
}
